<div class="row">
  <div class="span4">
    <legend>Listing conference numbers</legend>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Conference Number</th>
          <% if current_user.admin? %>
            <th>Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody>

      <% @conference_numbers.each do |conference_number| %>
      		<tr>
        		<td><%= conference_number.conference_number %></td>
        		
        		<% if current_user.admin? %>
          		<td>
            		<%= link_helper(edit_conference_number_path(conference_number), "Edit", 'btn-mini btn-primary', 'icon-list-alt icon-white').html_safe %>
            		<%= link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe, conference_number, 
            		  confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %> 
          		</td>
        		<% end %>
      		</tr>
      <% end %>
      </tbody>
    </table>

    <%= link_helper(new_conference_number_path, "New Conference Number", "btn-primary", "icon-pencil icon-white").html_safe %>
  </div>
</div>