<html>
  <body>
    Hi <%= @admin.first_name %>, <br /><br />
    
    <%= @actioned_by.to_label %> deleted <%= @conference_number.conference_number %> from Conference Manager <br />
    This number may no longer be used. <br /><br/>
    
    You have received this email because you are an Administrator for Conference Manager.  <br />
    You can update your notification preference in <%= link_to "your user profile.", edit_user_url(@admin) %> <br /><br />

    Thank you, <br />
    Conference Manager <br />
  </body>
</html>